<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
    <imports>
        <import id="taxruleimport.tax_rule" class="" category_id="">
            <import_descriptive locale="">
                <title></title>
            </import_descriptive>
        </import>
    </imports>
</config>
