<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
    <services>
        <service id="taxruleimport.manager" class="TaxRuleImport\Manager\TaxRuleImportManager" />

        <service id="taxruleimport.xml_formatter" class="TaxRuleImport\Formatter\TaxRuleXmlFormatter">
            <argument type="service" id="taxruleimport.manager" />
            <tag name="thelia.formatter" />
        </service>
    </services>
    <hooks>
        <hook id="taxruleimport.export.filters.hook" class="TaxRuleImport\Hook\ExportFilterHook" scope="request">
            <tag name="hook.event_listener" event="export.bottom" type="back" active="1" />
        </hook>
    </hooks>
    <export_categories>
        <export_category id="export.tax">
            <title locale="en_US">Taxes</title>
            <title locale="fr_FR">Taxes</title>
        </export_category>
    </export_categories>
    <exports>
        <export id="taxrule.export" class="TaxRuleImport\Export\TaxRuleExport" category_id="export.tax">
            <export_descriptive locale="en_US">
                <title>Tax rules</title>
            </export_descriptive>
            <export_descriptive locale="fr_FR">
                <title>Règles de taxe</title>
            </export_descriptive>
        </export>
    </exports>
    <import_categories>
        <import_category id="import.tax">
            <title locale="en_US">Taxes</title>
            <title locale="fr_FR">Taxes</title>
        </import_category>
    </import_categories>
    <imports>
        <import id="taxrule.import" class="TaxRuleImport\Import\TaxRuleImport" category_id="import.tax">
            <import_descriptive locale="en_US">
                <title>Tax rules</title>
            </import_descriptive>
            <import_descriptive locale="fr_FR">
                <title>Règles de taxe</title>
            </import_descriptive>
        </import>
    </imports>
</config>
