<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
    <services>
        <service id="taxruleimport.manager" class="TaxRuleImport\Manager\TaxRuleImportManager" />

        <service id="taxruleimport.xml_formatter" class="TaxRuleImport\Formatter\TaxRuleXmlFormatter">
            <argument type="service" id="taxruleimport.manager" />
            <tag name="thelia.formatter" />
        </service>
    </services>
</config>
